
@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	header .container .span12 {
		width: 100%px;
		float: none;
		margin: 0 auto;
	}
	header .avatar{
		margin: 30px auto 10px auto;
		float: none;
		height: 190px;
	}	
	header .bio_description{
		width: auto;
		float: none;
		margin-left: 0;
	}
	header .bio_description p{
		text-align: center;
	}
	header .social_media{
		margin-top: 40px;
		margin-left: 0;
	}
	.select_tag_wrapper{
		margin-left: 10px !important;
	}
	section.header_menu .logo{
		margin-left: 10px;
	}
	.post_content .row .span12{
		width: 280px;
		float: none;
		margin: 0 auto;
	}
	header .bio_description p{
		font-size: 20px;
		line-height: 26px;
	}
	section.header_menu .menu ul.parent, section.header_menu .menu_mobile ul{
		margin-top: 0;
	}
	section.header_menu .menu_mobile li a i{
		font-size: 40px;
		margin-left: 0;
	}
	section.header_menu .menu, section.header_menu .menu_mobile{
		margin: 0;
	}
	section.header_menu .menu ul.parent li a, section.header_menu .menu_mobile li a{
		padding:10px;
		line-height: 20px;
	}
	.navigation{
		float: none;
		width: 280px;
		margin: 60px auto;	
	}
	.navigation a{
		margin-right: 3px;
	}
	.navigation a.nav_older{
		float: left;
	}
	.navigation a.nav_newer{
		float: right;
	}	
	.footer_content{
		width: 220px;
		float: none;
		margin: 0 auto;
	}
	.bx-wrapper .bx-viewport{
		height: 320px !important;
		margin-bottom: 210px;
	}
	.footer_content	.widget .instagram_gallery ul li,.footer_content .widget .flickr_gallery ul li,.footer_content .widget .dribbble_gallery ul li{
		margin-bottom: 20px;
	}
	footer .footer_wrapper{
		background-color: rgba(0,0,0,0.6);
		height: 840px;
	}
	.twitter_wrapper {
		background-color: rgba(0,0,0,1);
		height: 310px;
	}
	.twitter_widget{
		width: 320px;
	}	
	.twitter_widget ul li{
		min-height: 170px !important;
	}
	.twitter_widget ul li p{
		width: 320px;
		text-align: center;
	}
	.twitter_widget ul li p {
		font-size: 16px;
		line-height: 26px;
	}
	.share_area .share_button ul.social_share li.google_share{
		padding: 8px 0px 8px 0px !important;
	}
	.share_area .share_button .hover_social_share{
		left: 0px;
		top: 25px;
		width: 235px;
		height: 72px;
	}
	.share_area .share_button ul.social_share li{
		width: 110px;
		margin-bottom: 16px;
	}
	.share_area .share_button ul.social_share{
		width: 300px;
		background-color: #333333;
		margin-top: 8px;
		margin-left: 0;
	}
	.twitter_widget ul li a{
		text-align: center;
		display: inline-block;
		width: 100%;		
	}
	.twitter_widget	.bx-wrapper .bx-viewport{
		height: 180px !important;
	}
	.twitter_wrapper .twitter_widget{
		padding: 20px 0;
	}
	.twitter_widget i{
		margin-left: 115px;
		margin-bottom: 10px;
	}
	footer .footer_wrapper{
		overflow: hidden;
	}
	.footer_content .widget .dribbble_gallery ul li{
		margin-bottom: 75px !important;
	}
	.copyright_wrapper{
		padding: 20px 0 0 0;
	}
	.copyright,.made_with{
		float: none;
		margin-bottom: 20px;
	}
	.copyright_wrapper p,.made_with p{
		text-align: center;
	}
	section.content .post_content{
		padding-bottom: 20px;
	}
	section.header_menu .menu_mobile li ul{
		left: -100px;
	}
	
	/*Single Page*/
	.single_content{
		width: 100%;
		padding: 10px;
	}
	section.content .content-background{
		padding-top: 20px;
	}	
	.single_nav,.single_content .date{
		float: none;
		width: 300px;
		margin: 0 auto;
	}
		.single_content .date{
			text-align: center;
			margin-top: 10px;
			border-top: 1px solid #e5e5e5;
			padding-top: 10px;
		}
	.heading_wrapper{
		height: 40px;
		padding-top: 20px;
	}	
	.single_content {
		width: 300px;
		padding: 10px;
		margin: 0 auto;
	}
	.post_content pre.prettyprint{
		width: auto;
	}
	.single_page .quote .icon_quote {
		float: none;
		margin: 0 auto;
	}
	.single_page .quote .quoteline {
		float: none;
		text-align: center;
		margin-top: 15px;
	}
	.single_page .quote .description{
		float: none;
		text-align: center;
	}
	section.content .post_content{
		width: 300px;
	}
	.single_page .ask_post .ask_question{
		width: auto;
		text-align: center;
		margin-top: 10px;
	}
	.single_page .ask_post .ask{
		text-align: center;
	}
	.single_page .ask_post .icon_ask{
		float: none;
		margin: 0 auto;
	}
	.single_page .link_post .icon_link{
		float: none;
		margin: 0 auto;
	}
	.single_page .link_post .link_url{
		margin-top: 10px;
	}
	.single_page .link_post .link_url a{
		text-align: center;
		float: left;
		line-height: 30px;	
	}

	.share_area .pull-left{
		float: none;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.source,.tags{
		float: left !important;
	}
	.share_button{
		margin-bottom: 20px !important; 
	}
	.single_page{
		padding-bottom: 20px;
	}
}
@media (min-width: 768px) and (max-width: 979px){
	header .avatar{
		margin: 0 auto 20px auto;
		float: none;
		height: 190px;
	}	
	header .bio_description{
		text-align: center;
		float: none;
	}
	section.header_menu .container .span12{
		width: 718px;
	}
	header .social_media{
		float: none;
		margin: 40px auto;
	}
	.footer_content	.widget .instagram_gallery ul li,.footer_content	.widget .dribbble_gallery ul li,.footer_content	.widget .flickr_gallery ul li{
		margin-bottom: 25px;
	}
	.post_content .row .span12{
		float: none;
		width: 620px;
		margin: 0 auto;
	}
	.twitter_widget .bx-wrapper{
		width: 590px;
	}
	.twitter_widget i{
		margin: 0 25px;
	}
	.twitter_widget	.bx-wrapper .bx-viewport{
		height: 120px !important;
	}
	.twitter_wrapper .twitter_widget{
		padding: 40px 0;
	}
	.twitter_widget ul li p{
		line-height: 30px;
	}
	
	.select_tag_wrapper{
		margin-left: 62px !important;
	}
	
	/* Single Page */
	.single_content{
		width: auto;
	}
	.post_content pre.prettyprint{
		width: auto;
	}
	.single_page .ask_post .ask_question{
		width: auto;
	}
	.single_page .ask_post .ask{
		margin-left: 75px;
	}
	.photo_post .image_wrapper .exif{
		width: 605px;
	}
	.share_area .share_button ul.social_share li a, .share_area .share_button ul.social_share li p{
		padding: 8px 7px 9px 7px;
	}
	.share_area .share_button ul.social_share li p{
		padding: 8px 7px 8px 7px;
	}
	.share_area .share_button ul.social_share li.google_share{
		padding: 8px 10px 8px 10px;
	}	
	.share_area .share_button ul.social_share li i{
		padding: 8px 10px 10px 10px;
	}
	.share_area .share_button ul.social_share li a:hover{
		padding: 7px 7px 9px 7px !important;
	}
	.share_area .share_button > a{
		padding: 8px 10px 8px 10px;
	}
	.share_area .share_button .hover_social_share{
		left: 65px;
	}
	section.header_menu .menu, section.header_menu .menu_mobile{
		margin-top: 0px;
	}
	section.header_menu .menu ul.parent li a, section.header_menu .menu_mobile li a{
		line-height: 24px;
	}
}


@media (min-width: 979px) {

    header .container .span12 {
        margin-top: 90px;
    }
    header .bio_description p {
	margin-top: 40px;
	font-size: 26px;
	line-height: 38px;
	}

}



@media (min-width: 1200px){
/*
	header .container .span12 {
		width: 940px;
		float: none;
		margin: 200px auto;
	}
	.post_content .row .span12{
		margin: 0px;
		float: none;
	}
	section.content .post_content .post_wrapper {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 12px;
	}
	.footer_content,.twitter_widget{
		width: 940px;
		float: none;
		margin: 0 auto;
	}
	.single_content{
		width: auto;
	}
	.post_content pre.prettyprint{
		width: auto;
	}
	.photo_post .image_wrapper .exif{
		width: 1050px;
	}
	.post_content .row{
		margin-left: 0;
	}
	.single_page .quote{
		width: 100%;
	}
	*/
	
	.span12,.container{
		width: 940px;
	}
	.social_media{
		width: 700px;
	}
	section.content .post_content .post_wrapper{
		margin-right: 10px;
		margin-left: 20px;
	}
}
