@import "https://static.tumblr.com/he6jwsj/SQ1mtcvso/font.css";
@import "https://static.tumblr.com/he6jwsj/eEymtcvt3/opensans.css";

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

header .container .span12{
	margin-top: 20px;	
}
	header .avatar{
		width: 172px;
		height: 250px;
		margin-top: 20px;
		position: relative;
	}
	header .avatar a#avatar_link{
		background-color: #000;
		position: relative;	
		width: 99%;
		height: 170px;
		float: left;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
	
		header .avatar a#avatar_link span{
			display: none;
			position: absolute;
			left: 35px;
			top: 75px;
			line-height: 30px;	
			font-family: 'OpenSansSemibold',Helvetica,Arial;
			font-size: 20px;
			text-decoration: none;
		}
			header .avatar a.follow,header .avatar a img{
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
				z-index: 0;
			}
			
	
	header .bio_description{
		width: 670px;
		margin-left: 35px;
	}	
		header .bio_description p{
			font-family: 'OpenSansLight',Helvetica,Arial;
			font-size: 20px;
			line-height: 26px;
		}	
				
	header .social_media{
		margin-top: 25px;
		margin-left: 10px;
	}
		header .social_media ul{
			list-style: none;
		}
			header .social_media ul li{
				float: left;
				margin-right: 5px;
				margin-bottom: 20px;
			}	
				header .social_media ul li a{				
					padding: 8px 10px;
					color: #babec0;
					font-family: 'OpenSansSemiBold',Helvetica,Arial;
					text-decoration: none;
				}			
	
					header .social_media ul li a i{					
						font-size: 18px;
					}	
					header .social_media ul li a i.Meccaenvelope{
						margin-right: 10px;
					}	
					


/* Section Header Logo, Menu, & Search bar */					
	section.header_menu .container .span12{
		position: relative;
	}
	/* Logo and title */
	section.header_menu .logo{
			
	}
		section.header_menu .logo a{
			text-decoration: none;
		}
			section.header_menu .logo h1{
				font-family: 'OpenSansLight',Helvetica,Arial;
				font-size: 30px;
			}
	
	/* Search Bar */
	section.header_menu .search{
		
		margin-top: 10px;
		margin-left: 10px;
	}
		section.header_menu .search a{
			text-decoration: none;
			line-height: 40px;
			margin-right: 40px;
		}	
			section.header_menu .search a i{
				font-size: 20px;
				color: #000;
			}
			
		section.header_menu .search form{
			display: none;
			position: absolute;
			right: 25px;
			top: 7px;
			z-index: 100;
		}		
		
			section.header_menu .search form input[type="text"]{
					border:none;
					border: 2px solid #ff4242;					
					border-radius: 0;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;					
					box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
					-moz-box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
					-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.075);					
					font-family: 'OpenSansLight',Helvetica,Arial;
					font-size: 15px;
					color: #586165;					
					padding: 10px 20px;		
					width: 620px;											
				}	
				section.header_menu .search form input[type="submit"]{
					border: none;
					background: none;
					font-size: 20px;
					color: #ff4242;
					position: absolute;
					top: 8px;
					right: 8px;					
				}
	
	/* Nav Menu */
	section.header_menu .menu,section.header_menu .menu_mobile{
		margin-top: 10px;
	}					
		section.header_menu .menu ul.parent,section.header_menu .menu_mobile ul{
			list-style: none;
		}					
			section.header_menu .menu ul.parent li,section.header_menu .menu_mobile ul li{
				float: left;
			}					
				section.header_menu .menu ul.parent li a,section.header_menu .menu_mobile li a{
					font-family: 'OpenSansRegular',Helvetica,Arial;
					font-size: 15px;
					text-decoration: none;
					line-height: 40px;					
					padding: 20px;
				}					
				
	/* Menu Mobile */		
	section.header_menu .menu_mobile ul{
		position: relative;
	}		
	section.header_menu .menu_mobile li a{		
		padding-right: :25px;	
	}
		section.header_menu .menu_mobile li a i{
			margin-left: 10px;
		}
		section.header_menu .menu_mobile li.pages a{
			background-color: #e53b3b;
		}
			section.header_menu .menu_mobile li ul {
				list-style: none;
				width: 160px;
				height: auto;
				top: 50px;
				left: -53px;
				margin: 0;
				z-index: 100;
				position: absolute;
				display: none;
			}
				section.header_menu .menu_mobile li ul li{				
					float: left;		
					margin-bottom: 0;	
					width: 100%;
				}
					section.header_menu .menu_mobile li ul li a{
						float: left;
						width: 130px;
						margin: 0px;
						padding: 10px 15px;
						line-height: 24px;
					}
		
		/* submenu */
		section.header_menu .menu ul.parent li.submenu{
			position: relative;
		}
		section.header_menu .menu ul.parent li.submenu ul{
			display: none;
			list-style: none;
			width: 180px;
			height: auto;
			position: absolute;
			top: 50px;
			left: 0;
			margin: 0;
			z-index: 100;
		}
			section.header_menu .menu ul.parent li.submenu ul li{				
				float: left;		
				margin-bottom: 0;	
				width: 100%;	
			}
				section.header_menu .menu ul.parent li.submenu ul li a{				
					font-family: 'OpenSansRegular',Helvetica,Arial;
					font-size: 15px;
					color: #ffffff;
					background-color: #ff4242;
					float: left;
					width: 130px;
					margin: 0px;
					padding: 10px 15px;
					line-height: 24px;
				}
					section.header_menu .menu ul.parent li.submenu ul li a:hover{				
						background-color: #e53b3b;						
					}	
	
/* Section Content Body */					
section.content .content-background{		
		width: inherit;
		min-height: 400px;	
		padding-top: 80px;	
	}
	
		section.content .post_content{
			padding-bottom: 80px;
		}
			
			section.content .post_content .post_wrapper a.detail_hover{
				float: left;				
				width: 100%;
				height: 360px;
				min-height: 360px;
				position: absolute;
				z-index: 1;
			}
							
			section.content .post_content .post_wrapper{
				width: 280px;
				margin-right: 10px;
				margin-top: 30px;
				position: relative;
				overflow: hidden;
			}	
				section.content .post_content .post_wrapper .post_detail{
					display: none;
					background-color: rgba(255, 255, 255, .5);
					padding: 120px 0 0 30px;
					position: absolute;
					top: 0;
					left: 0;
					width: 250px;
					height: 240px;
					z-index: 1000;
					cursor: pointer;
				}
					section.content .post_content .post_wrapper .post_detail i.post_icon{
						font-size: 40px;					
						margin-bottom: 20px;
						display: block;
					}
					section.content .post_content .post_wrapper .post_detail p,section.content .post_content .post_wrapper .post_detail a.view_post{
						font-family: 'OpenSansRegular',Helvetica,Arial;
						font-size: 16px;
					}
					
					section.content .post_content .post_wrapper .post_detail a{
						text-decoration: none;
					}
					
					section.content .post_content .post_wrapper .post_detail p.date_post{
						margin-top: 15px;
					}
					section.content .post_content .post_wrapper .post_detail p.comment{
						margin-bottom: 20px;
					}
						section.content .post_content .post_wrapper .post_detail p.comment a,section.content .post_content .post_wrapper .post_detail p.note a{							
							margin-right: 5px;							
						}
						section.content .post_content .post_wrapper .post_detail a.view_post{						
							padding: 5px 10px;
							margin-top: 15px;
						}
							
							

/* Post Audio */
section.content .post_content .post_audio img{
	height: 360px;
	max-height: 360px;
	width: auto;	
	max-width: none;
}
	section.content .post_content .post_audio .play_wrapper{
			width: 280px;
			height: 80px;
	}

section.content .post_content .post_audio .play_wrapper{
	height: 80px !important;
}
.audio_player.grey .audio_player_button{
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.audio_player.grey .audio_message_text{
	display: none !important;
}
.audio_player{
	background-color: transparent !important;
	position: absolute !important;
	bottom: 25px !important;
	left: 35px !important;
}
section.content .post_content .post_wrapper{
	height: 360px;
	max-height: 360px;
}
section.content .post_content .post_wrapper .post_detail a.view_post{
	float: left;
}
.bx-wrapper img{
	width: 220px;
}
#more{
	display: none;
}
.post_photoset iframe{
	width: 280px !important;
	max-width: 280px !important;
}
iframe.photoset .photoset_row_1 a img{
	width: 280px !important;
}
iframe.photoset .photoset_row_2 a img{
	width: 180px !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: -45px !important;
}

/* Photoset */
.photoset_post img{
	width: 100%;
	margin-bottom: 20px;
}	 
/* Audio Player */
.play_wrapper iframe #widgetContainer{
	width: 280px !important;
}
.play_wrapper iframe .player{
	width: 278px !important;
}
.play_wrapper iframe .track #mainContainer{
	border: none;
}
.play_wrapper iframe .album-art-container img{
	width: 279px;
	height: auto;
}
.play_wrapper iframe #engageView{
	background: none !important;
}


/* Post Text */
section.content .post_content .post_text .text_body p{
	font-family: 'OpenSansRegular',Helvetica,Arial;
	font-size: 14px;
}
/* Pretiffy */
pre.prettyprint{
	font-family: 'OpenSansRegular',Helvetica,Arial;
	font-size: 14px;
}

	section.content .post_content .title_post{
		position: relative;
		padding: 12px 20px;		
	}
		section.content .post_content .title_post p{
			font-family: 'OpenSansSemibold',Helvetica,Arial;
			font-size: 20px;
			color: #000000;
			line-height: 28px;
		}
	section.content .post_content .text_body{
		padding: 0px 20px 19px 20px; /* border bottom on title post */	
		max-height: 250px;
		height: 250px;
		overflow: hidden;
		position: relative;
	}
		section.content .post_content .text_body p,section.content .post_content .text_body .description,section.content .post_content .post_ask .ask{
			font-family: 'OpenSansRegular',Helvetica,Arial;
			font-size: 14px;
		}
			section.content .post_content .text_body .overflow-shadow{
				-webkit-box-shadow: inset 0px -30px 30px 10px #ffffff;
				-moz-box-shadow: inset 0px -30px 30px 10px #ffffff;
				box-shadow: inset 0px -30px 30px 10px #ffffff;
				height: 60px;
				width: 280px;
				left: 0;
				bottom: 0;
				position: absolute;
			}
	section.content .post_content .title_post p{
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 0;
		padding-bottom: 10px;
	}

/* Post Chat */

section.content .post_content .post_chat ul.chatpost{
	list-style: none;
	margin: 0;
}
	section.content .post_content .post_chat ul.chatpost li{
		float: left;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 5px;
	}
		section.content .post_content .post_chat ul.chatpost li p{
			float: left;	
			line-height: 20px;	
		}
			section.content .post_content .post_chat ul.chatpost li p.chatlabel{
				margin-right: 5px;
				font-family: 'OpenSansbold',Helvetica,Arial;
			}
			section.content .post_content .post_chat ul.chatpost li p.chatline{
				width: 190px;
			}
	
/* Post Quote */		
section.content .post_content .post_quote .title_post{
	padding: 19px 20px 30px 20px;
}		
	section.content .post_content .post_quote .title_post .icon_quote{		
		padding: 10px;
		margin: 0 auto;
		width: 22px;
		height: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		border-radius: 22px;
	}
		section.content .post_content .post_quote .title_post .icon_quote i{	
			font-size: 24px;
		}
		section.content .post_content .post_quote .text_body .quoteline{
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
			section.content .post_content .post_quote .text_body .quoteline p{	
				font-family: 'OpenSansSemiboldItalic',Helvetica,Arial;
				font-size: 20px;
				line-height: 28px;		
				margin: 0;
			}			
			
/* Post Link */			
section.content .post_content .post_link .title_post{
	padding: 80px 20px 20px 20px;
}
section.content .post_content .post_link .text_body{
	max-height: 200px;
	height: 200px;
}
	section.content .post_content .post_link .text_body .link_url a{	
		font-family: 'OpenSansSemiboldItalic',Helvetica,Arial;
		font-size: 20px;		
		text-decoration: underline;
		line-height: 28px;
		text-align: center;
		display: block;
	}
	section.content .post_content .post_link .title_post .icon_link{	
		padding: 8px;
		margin: 0 auto;
		width: 25px;
		height: 25px;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
	}
		section.content .post_content .post_link .title_post .icon_link i{	
			font-size: 24px;
		}
		
/* Post Ask */		
section.content .post_content .post_ask .title_post{
	padding: 20px;
}
	section.content .post_content .post_ask .title_post .icon_ask{	
		padding: 12px 10px 12px 13px;
		margin: 0 auto;
		width: 17px;
		height: 17px;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
	}
		section.content .post_content .post_ask .title_post .icon_ask i{	
			font-family: 'OpenSansSemibold',Helvetica,Arial !important;
			font-size: 30px;			
			font-style: normal;
		}
		section.content .post_content .post_ask .ask_question{
			font-family: 'OpenSansSemibold',Helvetica,Arial !important;
			font-size: 20px;
			line-height: 28px;
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 10px;
			margin-bottom: 10px;	
			text-align: center;		
		}					
		
	section.content .post_content .post_ask .text_body{
		max-height: 260px;
		height: 260px;
	}	
	section.content .post_content .post_ask .ask {
		text-align: center;
	}
/* Post Audio */	
.post_audio a img{
	
}
/* Post Video */	
.post_video iframe{	
	max-width: 280px;
	min-height: 360px;
}

/* Navigation */		
.navigation{
	margin-top: 50px;
	margin-right: 10px;
}
	.navigation a{
		padding: 10px 23px;		
		text-decoration: none;
		font-family: 'OpenSansRegular',Helvetica,Arial !important;
		font-size: 18px;
		margin-right: 10px;
	}
		
	.navigation a.nav_older i{
		margin-right: 10px;
	}
	.navigation a.nav_newer i{
		margin-left: 10px;
	}
		.navigation a i{
			font-size: 18px;
		}
		
/* Footer */

		
	footer .footer_wrapper{
		height: 550px;
		width: 100%;
	}
	
/* Widget */
.footer_content	.widget{
	margin-top: 30px;

}
.footer_content .widget div{

}
	.footer_content	.widget h4{
		font-family: 'OpenSansRegular',Helvetica,Arial;
		font-size: 24px;
	}
		
		.footer_content .widget div ul li a i{
			display: none;
		}
/* Instagram Widget */	

		.footer_content	.widget .instagram_gallery ul{
			list-style: none;
			margin: 30px 0;
		}
			.footer_content	.widget .instagram_gallery ul li{
				float: left;
				position: relative;
				margin-right: 10px;
			}
				.footer_content	.widget .instagram_gallery ul li a:hover{
					background-color: #000;
					width: 100%;
					height: 100%;
					float: left;
				}
					
					.footer_content	.widget .instagram_gallery ul li a i{
						position: absolute;
						top:36%;
						left: 43%;
						font-size: 30px;					
					}
/* Flickr Widget */	

		.footer_content	.widget .flickr_gallery ul{
			list-style: none;
			margin: 30px 0;
		}
			.footer_content	.widget .flickr_gallery ul li{
				float: left;
				position: relative;
				margin-right: 10px;
			}
				.footer_content	.widget .flickr_gallery ul li a:hover{
					background-color: #000;
					width: 100%;
					height: 100%;
					float: left;
				}				
					.footer_content	.widget .flickr_gallery ul li a i{
						position: absolute;
						top:32%;
						left: 40%;
						font-size: 30px;
						color: #fff;						
					}	
					
/* Dribbble Widget */	

		.footer_content	.widget .dribbble_gallery ul{
			list-style: none;
			margin: 30px 0;
		}
			.footer_content	.widget .dribbble_gallery ul li{
				float: left;
				position: relative;
				margin-right: 10px;
			}
				.footer_content	.widget .dribbble_gallery ul li a:hover{
					background-color: #000;
					width: 100%;
					height: 100%;
					float: left;
				}
					
					.footer_content	.widget .dribbble_gallery ul li a i{
						position: absolute;
						top:40%;
						left: 40%;
						font-size: 30px;
						color: #fff;						
					}										
/* Widget Navigation */
.bx-wrapper .bx-pager.bx-default-pager a{
	background-color : transparent;
	border: 3px solid #fff;	
	text-indent: -9999px;
	display: block;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

			
/* Twitter Widget */			
.twitter_wrapper{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 190px;
	margin-top: 20px;
}
	.twitter_wrapper .twitter_widget{
		padding: 50px 0;
	}
		.twitter_widget i{
			color: #fff;
			font-size: 75px;
			margin: 0 30px;
		}
		.twitter_widget ul#twitter_feed{
			list-style: none;
			margin: 0;
		}
			.twitter_widget ul li{
			}
				.twitter_widget ul li p{
					font-family: 'OpenSansRegular',Helvetica,Arial;
					font-size: 20px;
					line-height: 34px;
					margin: 0;
				}
				.twitter_widget ul li p.tweet_time{
					font-size: 14px;
				}
				.twitter_widget ul li a{
					text-decoration: none;
				}
.twitter_widget	.bx-wrapper .bx-viewport{
	height: 100px !important;
}		
	.twitter_widget .bx-wrapper{
		width: 780px;
		float: left;
		margin: 0 auto 40px !important;
	}	
	.twitter_widget .bx-controls {
		display: none;
	}
/* Copyright */
.copyright_wrapper{
	padding: 50px 0;
}				
	.copyright_wrapper p{
		font-family: 'OpenSansRegular',Helvetica,Arial;
		font-size: 18px;
		margin: 0;
	}
		.copyright_wrapper p a{
			text-decoration: none;
		}
		
/* Slider */		
.bx-controls-direction{
	display: none;
}

/* Single Page */
.single_content{	
	padding: 40px;
	width: 860px;
	margin-bottom: 80px;
}
	
	.single_content .date,.single_nav a{
		font-family: 'OpenSansRegular',Helvetica,Arial;
		font-size: 14px;
	}
	.single_nav a{
		margin-left: 20px;
		padding-right: 20px;
		border-right: 1px solid #e5e5e5;
		cursor: pointer;
		text-decoration: none;
	}
		
	
		.single_nav a:last-child{
			border: none;
		}
	.heading_wrapper{
		border-bottom: 1px solid #e5e5e5;
		height:20px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}	
	.single_content .post_content{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 40px !important;

	}
		.single_content .post_content h1{
			font-family: 'OpenSansSemibold',Helvetica,Arial;
			font-size: 24px;
		
		}
		.single_content .post_content p,.post_content ul li{
			font-family: 'OpenSansRegular',Helvetica,Arial;
			line-height: 24px;
		}
			.single_content .post_content p b{
				font-family: 'OpenSansBold',Helvetica,Arial;				
			}
			.single_content .post_content p i,.post_content blockquote{
				font-family: 'OpenSansItalic',Helvetica,Arial;				
			}
			.single_content .post_content p a{
				color: #ff4242;
				text-decoration: underline;
			}
			.single_content .post_content blockquote{
				font-size: 24px;
				line-height: 30px;
				border-left: 1px solid #eee;				
			}
			
/* Single page */			
.share_area {
	padding: 40px 0 80px 0;
	border-bottom: 1px solid #e5e5e5;	
}
	.share_area .pull-left{
		margin-right: 20px;
	}
.share_area .share_button {
	position: relative;
}
	.share_area .share_button > a{
		padding: 8px 15px 8px 15px ;
		text-decoration: none;		
	}
		.share_area .share_button > a i{
			margin-right: 5px;
		}
	.share_area .share_button ul.social_share{
		list-style: none;
		display: none;
	}	
		.share_area .share_button ul.social_share li{
			float: left;
		}	
			.share_area .share_button ul.social_share li a,.share_area .share_button ul.social_share li p{
				padding: 8px 15px 9px 15px ;
				font-family: 'OpenSansRegular',Helvetica,Arial;
				font-size: 14px;
				color: #a9aaae;
				text-decoration: none;
			}
				.share_area .share_button ul.social_share li.google_share{					
					background-color: #f9f9f9;
					padding: 8px 120px 8px 15px;
					margin-top: -8px;
				}
				.share_area .share_button ul.social_share li i{
					padding: 8px 15px 10px 15px;
					font-size: 18px;
				}
					.share_area .share_button ul.social_share li p{
						margin-top: -8px;
						padding: 8px 15px 8px 15px ;
						
					}	
				.share_area .share_button ul.social_share li a:hover{
					border-top: 1px solid #00b0ef;
					padding: 7px 15px 9px 15px ;
				}	
				.share_area .share_button .hover_social_share{
					display: none; 
					position: absolute;
					left: 75px;
					top: 8px;
					width: 785px;
				}
				
/* Blockquote */				
.single_page .quote{
	padding: 30px 0;
	display: inline-block;
}
.single_page .quote .icon_quote{	
	padding: 10px;
	float: left;
	width: 25px;
	height: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin-right: 30px;
}
	.single_page .quote .icon_quote i{
		font-size: 28px;
	}
	.single_page .quote .quoteline{
		float: left;
	}
		.single_page .quote .quoteline p{
			font-family: 'OpenSansSemiboldItalic',Helvetica,Arial;
			font-size: 24px;
		}
	.single_page .quote .description{
		font-family: 'OpenSansRegular',Helvetica,Arial;
		float: right;	
		font-size: 14px;	
		margin-top: 20px;
		width: 100%;
		text-align: right;
		border-top: 1px solid #eee;
		padding-top: 20px;
		
	}
	
/* asker */	
.single_page .ask_post{
	padding: 30px 0;
	display: inline-block;
}
.single_page .ask_post .icon_ask{
	padding: 13px;
	float: left;
	width: 18px;
	height: 18px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin-right: 30px;
}
	.single_page .ask_post .icon_ask i{
		font-size: 28px;
	}
		.single_page .ask_post .ask_question{
			font-family: 'OpenSansSemibold',Helvetica,Arial;
			font-size: 20px;	
			width: 800px;		
			margin-top: 10px;	
		}	
			.single_page .ask_post .ask{
				font-family: 'OpenSansRegular',Helvetica,Arial;
				margin-top: 10px;
			}
			.single_page .ask_post .answer{
				font-family: 'OpenSansRegular',Helvetica,Arial;
				font-size: 14px;
				margin-top: 20px;
				padding-top: 20px;
				float: left;
				line-height: 26px;
				border-top: 1px solid #e5e5e5;
			}
			
/* link post */		
.single_page .link_post{
	padding: 30px 0;
	display: inline-block;
}
.single_page .link_post .icon_link{

	padding: 10px;
	float: left;
	width: 24px;
	height: 24px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin-right: 30px;
	margin-top: -10px;
}
	.single_page .link_post .icon_link i{
		font-size: 24px;
	}
		.single_page .link_post{
			margin-top: 10px;
		}
			.single_page .link_post .link_url a{
				font-family: 'OpenSansSemiboldItalic',Helvetica,Arial;
				font-size: 24px;
				text-decoration: underline;
			}
			.single_page .link_post .description{
				font-family: 'OpenSansRegular',Helvetica,Arial;
				font-size: 14px;
				margin-top: 20px;
				padding-top: 20px;
				float: left;
				line-height: 26px;
				border-top: 1px solid #e5e5e5;
			}
/* chat post */	
.chat_post{
	padding: 0;
}
	.chat_post h1{
		margin: 20px 0 0 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}
	.chat_post ul.chatpost{
		list-style: none;
		margin: 0;
	}
		.chat_post ul.chatpost li{
			padding: 15px 0;
			border-bottom: 1px solid #e5e5e5;
		}
			.chat_post ul.chatpost li:last-child {
				border-bottom: 0px solid #e5e5e5;
			}
			.chat_post ul.chatpost li p{
				margin: 0;
			}	
		.chat_post ul.chatpost li p.chatlabel{
			font-family: 'OpenSansSemibold',Helvetica,Arial;
			font-size: 16px;
		}
/* Photo Post */		
.photo_post {
	padding : 30px 0;
}
.photo_post .image_wrapper{
	position: relative;
}
	.photo_post .image_wrapper img{
		max-width: 100%;
		width: 100%;
	}
	.photo_post .image_wrapper .exif{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,0.7);
		padding: 20px;
		width: 820px;
		display: none;
	}
		.photo_post .image_wrapper .exif ul{
			list-style: none;
		}
			.photo_post .image_wrapper .exif ul li{
				color: #fff;
				line-height: 28px;
			}
				.photo_post .image_wrapper  a.exif_hover{
					position: absolute;					
					bottom: 10px;
					right: 10px;
					background-color: #000;
					padding: 5px 6px 3px 6px;
					border-radius: 15px;
					text-decoration: none;
					z-index: 1;
				}
					.photo_post .image_wrapper a.exif_hover i{
						font-size: 16px;
						color: #fff;
					}
		.photo_post .caption{
			font-family: 'OpenSansRegular',Helvetica,Arial;
			font-size: 14px;
			margin-top: 20px;
			padding-top: 20px;
			line-height: 26px;
			border-top: 1px solid #e5e5e5;
			margin-top: 30px;
		}					
					
/* Tag */				
.tags{
	margin-top: 8px;
}
.tags p,.source p,.tags ul li a,.source a{
	font-family: 'OpenSansRegular',Helvetica,Arial;
	font-size: 14px;	
}
.tags p,.source p{
	float: left;
	margin-right: 10px;
}
	.tags ul{
		list-style: none;
		float: left;
		margin: 0;
	}
		.tags ul li{
			float: left;
			margin-right: 5px;
		}
			.tags ul li a,.source a{
				text-decoration: underline;				
			}
				.tags ul li a:after{
					content: ", ";
				}
				
				.tags ul li:last-child a:after{
					content : "";
				}
/* Source */				
.source{
	margin-top: 8px;
}
	.source a{
		float: left;
	}
	
/* Notes */	
.notes_area ol.notes{
	list-style: none;
}
	.notes_area ol.notes {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    .notes_area ol.notes li.note {
        border-bottom: solid 1px #e5e5e5;
        padding: 30px 0;
    }

   .notes_area ol.notes li.note img.avatar {
        vertical-align: -4px;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        float: left;
        margin-top: -15px;
    }

  .notes_area  ol.notes li.note span.action {
       font-family: 'OpenSansRegular',Helvetica,Arial;
       font-size: 14px;
       float: left;
       margin-top: -8px;
    }
		
  .notes_area  ol.notes li.note .answer_content {
        font-weight: normal;
    }

   .notes_area ol.notes li.note blockquote {
        border-color: #eee;
        padding: 4px 10px;
        margin: 10px 0px 0px 25px;
    }

   .notes_area ol.notes li.note blockquote a {
        text-decoration: none;
    }		

/* Disqus */	 	
#disqus_thread{
	margin-top: 20px !important;
}
.share_area .share_button ul.social_share li.google_share{
	padding: 8px 0px 8px 15px;
}

.select_tag_wrapper{
	margin-left: 20px;
}
.bootstrap-select.btn-group .dropdown-menu{
	margin-top: -30px !important;
}
.btn-group.open .btn.dropdown-toggle{
	z-index: 100000 !important;
}

/* Spotify */	 	
.post_audio .spotify_audio_player,.soundcloud_audio_player {
	width: 280px;
	height: 360px;
}
	.post_audio .spotify_audi_player .player{
		width: 280px;
		height: 360px;	
	}
.audio_wrapper	.spotify_audio_player,.soundcloud_audio_player {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
	.audio_wrapper .spotify_audi_player .player{
		width: 100%;
		height: auto;
	}

/* Audio Wrapper */    
.play_wrapper{
	display: none !important;
}
.single_content .video_post iframe{
	width: 100%;
}
.audio_wrapper iframe{
	width: 100%;
}
iframe.tumblr_audio_player body .audio_player_container .album_art_container{
	display: block !important;
}
.post_wrapper iframe.tumblr_audio_player{
	width: 280px;
	height: 360px;
}

/* Fancy Box */
.fancybox-skin{
	background: none;
}
.fancybox-close{
	top: 0;
	right: 0;
}
.fancybox-opened .fancybox-skin{
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}    
 /* Bg Header */	
	 .header-background{	 
	 	width: inherit;
	 	min-height: 370px;
	 }
	 
	 .post_detail .icon_ask{
	 	background-color: {color:Link};
	 	padding: 12px 10px 12px 13px;
	 	width: 17px;
	 	height: 17px;
	 	-moz-border-radius: 25px;
	 	-webkit-border-radius: 25px;
	 	border-radius: 25px;	 	
	 }
	 	.post_detail .icon_ask i{
	 		font-family: 'OpenSansSemibold',Helvetica,Arial !important;
	 		font-size: 30px;
	 		color: #000;
	 		font-style: normal;
	 	}
iframe.soundcloud_audio_player .widgetContainer, iframe.spotify_audio_player .player{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}    
    
